body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-attachment: #f9f9f9;
  color: #333;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}